.root-body {
  display: flex;
  height: 100vh;
}
.container {
  height: 100vh;
  width: 20vw;
  overflow: scroll;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  flex: 1;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
}
.content {
  width: 80vw;
  height: 100%;
  overflow: scroll;
  iframe {
    width: 80vw;
    height: 100vh;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  }
}

.container a {
  padding: 5px 10px;
  border-radius: 50px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  // box-shadow: 0 0 3px #333;
  margin: 4px 10px;
  text-align: center;
  color: #ffffff;
}
